@model EMARTPROJECT.Models.ProductCreateViewModel

@{
    ViewData["Title"] = "AddItems";
}

<h1>AddItems</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="c_id" class="control-label"></label>
                <input asp-for="c_id" class="form-control" />
                <span asp-validation-for="c_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="c_name" class="control-label"></label>
                <input asp-for="c_name" class="form-control" />
                <span asp-validation-for="c_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sc_id" class="control-label"></label>
                <input asp-for="sc_id" class="form-control" />
                <span asp-validation-for="sc_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sc_name" class="control-label"></label>
                <input asp-for="sc_name" class="form-control" />
                <span asp-validation-for="sc_name" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item_name" class="control-label"></label>
                <input asp-for="item_name" class="form-control" />
                <span asp-validation-for="item_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock_number" class="control-label"></label>
                <input asp-for="stock_number" class="form-control" />
                <span asp-validation-for="stock_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gst" class="control-label"></label>
                <input asp-for="gst" class="form-control" />
                <span asp-validation-for="gst" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        @ViewBag.message
    </div>
</div>

<div>
    <a asp-action="S_Index">Back to List</a>
</div>

