
@{
    ViewData["Title"] = "S_Index";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Emart" asp-action="S_SignUp">SignUp</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" asp-area="" asp-controller="Emart" asp-action="S_Login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Welcome to Seller page</h1>
