@{
    ViewData["Title"] = "SellerDashBoard";
}

<h1 style="align-content:center">SellerDashBoard</h1>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="navbar-nav " asp-area="" asp-controller="Emart" asp-action="AddItems">AddItems</a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-nav" asp-area="" asp-controller="Emart" asp-action="Display">Display Seller Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-nav " asp-area="" asp-controller="Emart" asp-action="D_products">Display Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-nav" asp-area="" asp-controller="Emart" asp-action="Logout">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
